/* Dark Theme */
body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  background-color: #d3ffe7; /* Dark background color */
  color: #c9c9c9; /* Light text color */
}

h1 {
  font-size: 1.5rem;
  color: #1b1b1b; /* Light color for headings */
  text-align: center; /* Center alignment */
}

/* User Input Text Box */
input[type="number"] {
  background-color: #333; /* Dark input background */
  color: #fff45c; /* Light text color for input */
  border: 1px solid #666; /* Border color */
  padding: 8px; /* Adjust padding as needed */
}

/* Results Section */
.flex.flex-col.mb-4 {
  background-color: #1a1a1a; /* Dark background for results section */
  padding: 16px; /* Adjust padding as needed */
}
